<% if @name %>  
<h1> Hello there <%= @name %> </h1>
<% end %>

<img style='border:3px dashed red;border_radius:12px;margin:12rem' src='https://www.rollingstone.com/wp-content/uploads/2019/05/britney-spears.jpg?resize=900,600&w=440'>